.body-card {
  display: block;
  background-color:rgb(24, 104, 158);
  width: 225px;
  height: 290px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 10px 10px;
  transition: all 1s;
}

.body-card:hover {
  transform: scale(1.2);
}

.card-header {
  width: 250px;
  height:140px;
  display: block;
}


.card-body {
  background-color: white;
  display: flex;
  width: auto;
  height: 90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 59%, 0.253);
}

.game-name {
  margin-top: 5px;
  font-size: 15px;
}

p {
  color: hsl(0, 0%, 59%);
  font-size: 10px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height:90px;
  color:white
}

.genre-title {
  font-size: 15;
}

span{
  font-size: 12px;
}