nav {
    display: block;
}
.pagination {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-block-end: 0px;
}

.page-link {
    display: flex;
    text-decoration: none;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}