.nav-bar {
    background-color:transparent;
    color: white;
    display: flex;
    width: auto;
    justify-content:center;
    font-weight: 600;
}

nav{
    display: flex;
}

.links {
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

.links:hover {
    background-color: white;
    color:#050A30
}

